.container {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #3bacb6;
  display: flex;
  justify-content: space-around;
  z-index: 2342342;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #fff;
  width: 70px;
  text-decoration: none;
}
.new {
  transform: translateY(-50%);
  color: #7ed321;
  background-color: #fff;
  width: auto;
  height: 30px;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
